header {
    background-color: rgb(237, 195, 164);
    color: rgb(25, 25, 29);
    text-align: center;
    height: 135px;
}

nav {
    display: flex;
    justify-content: space-around;
}

.menu-iten {
    text-decoration: none;
    color: rgb(25, 25, 29);
    border: 1px solid white;
    border-radius: 3px;
    background-color: white;
    padding: 10px;
}

.menu-iten:hover{
    background-color: rgb(200, 188, 245);
}

img {
    width: 500px;
}

.number {
    color: rgb(153, 0, 255);
}

footer {
    background-color: coral;
    border: 1px solid rgb(255, 170, 139);
    padding: 5px;
    margin: 15px 10px 15px 10px;
    border-radius: 3px;
}

.center {
    display: flex;
    justify-content: center;
}

h2 {
    color: palevioletred;
}

body {
    background-color: rgb(230, 235, 191);
}
